<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Company Profile</title>
</head>

<body>
  <div class="md:mx-auto bg-white md:flex rounded-lg p-8 shadow-xl">
    <img
      class="rounded-full mx-auto md:mx-0 md:mr-2 md:mr-6 object-cover p-3 h-32 w-32 sm:h-40 sm:w-40 md:h-48 md:w-48 xl:h-64 xl:w-64"
      src="/images/flower.jpg" alt="Profile Image">
    <div class="font-sans text-center md:text-left">
      <!--Employee Name-->
      <p class="subpixel-antialiased text-base sm:text-lg md:text-xl lg:text-3xl xl:text-5xl">{{ name }}</p>
      <div class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-2xl">
        <!--Employee Job/Title-->
        <p class="antialiased italic text xl:text-3xl pb-2">{{ title }}</p>
        <!--Employee Gender-->
        <p class="antialiased pb-4">Prefered Gender Pronouns:
          <span class="font-light italic">{{ gender }}</span></p>
        <!--Employee Contact Info-->
        <p class="antialiased">Email:
          <span class="font-light italic">{{ username }}@{{ domain }}</span></p>
        <p class="antialiased pb-5">Work Phone:
          <span class="font-light italic">{{ phone}}</span></p>
        <!--Employee Skills-->
        <p class="antialiased">Skills:
          {{#each skills}}
          <span
            class="font-light rounded-full py-1.5 md:py-1 px-4 bg-blue-300 text-xs md:text-sm lg:text-base xl:text-xl">{{ this }}</span>
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</body>

</html>